# Übung 04: Funktionen
Für die folgenden Aufgaben benötigst du die Datei <font color=orange>pokemon.csv</font>. Importiere sie entsprechend.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_pokemon = pd.read_csv('../../src/pokemon.csv')
df_pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Teilaufgabe 1
Bestimme für alle Pokemon der Sorte **Normal-Flying** (Normal ist Type 1 und Flying ist Type 2) folgende Werte:
* **Größe** des gefilterten DataFrames
* Die **Durschnittswerte** für die Spalten HP, Attack, Defense
* Die **Minimal- und Maximalwerte** für die Spalten HP, Attack Defense
* Den **Anteil** der HP an der Summe aller Scoringpunkte (Total)

In [3]:
# Selektion der Werte von Type Grass, Poison
df_fly = df_pokemon[(df_pokemon['Type 1'] == 'Normal') & 
                          (df_pokemon['Type 2'] == 'Flying')]
df_fly.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
26,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False

**Anzahl der Pokemon in dieser Kategorie**

In [17]:
# Anzahl der Pokemon in dieser Kategorie
len(df_fly)

24

**Durchschnittswerte berechnen**

In [20]:
# Lösung 1
df_fly[['HP', 'Attack', 'Defense']].mean()

HP         62.041667
Attack     73.041667
Defense    54.166667
dtype: float64

In [19]:
# Lösung 2 - Überflüssige Spalten
df_fly.mean()

Total         371.958333
HP             62.041667
Attack         73.041667
Defense        54.166667
Sp. Atk        52.666667
Sp. Def        52.208333
Speed          77.833333
Generation      2.875000
Legendary       0.000000
dtype: float64

In [23]:
# Lösung 3 - Zu viel Aufwand
print('HP', df_fly['HP'].mean())
print('Attack', df_fly['Attack'].mean())
print('Defense', df_fly['Defense'].mean())

HP 62.041666666666664
Attack 73.04166666666667
Defense 54.166666666666664

**Die Minimal- und Maximalwerte für die Spalten HP, Attack Defense**

In [25]:
df_fly[['HP', 'Attack', 'Defense']].min()

HP         35
Attack     30
Defense    30
dtype: int64

In [26]:
df_fly[['HP', 'Attack', 'Defense']].max()

HP         100
Attack     123
Defense     80
dtype: int64

**Den Anteil der HP an der Summe aller Scoringpunkte (Total)**

In [28]:
# Lösung 1
df_fly['HP'].sum() / df_fly['Total'].sum()

0.1667973563347149

In [31]:
#Lösung 2
(df_fly['HP']/df_fly['Total']).mean()

0.16687762414227617

## Teilaufgabe 2
Berechne einen neuen Score für jeden Pokemon und speicher diesen in einer neuen Spalte mit dem Namen **'Total Neu'**.

Der Score berechnet sich folgendermaßen:

$$Total Neu={\frac{Total+(Legendary*Total)}{Total}}$$

Dafür ist es notwendig die Spalte **Legendary** in zunächst in eine Zahl umzuwandeln. Für False wird eine 0 gesetzt für True 0.25. Benutze hierfür die Funktion **np.where()**

In [45]:
df_pokemon['Legendary'] = np.where(df_pokemon['Legendary'], 0.25, 0)
df_pokemon.sample(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Neu
179,Ledyba,Bug,Flying,265,40,20,30,40,80,55,2,0.00,1.00
264,Suicune,Water,NaN,580,100,75,115,90,115,85,2,0.25,1.25
24,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,0.00,1.00
74,Machamp,Fighting,NaN,505,90,130,80,65,85,55,1,0.00,1.00
695,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,0.00,1.00
794,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,0.25,1.25
484,Bronzor,Steel,Psychic,300,57,24,86,24,86,23,4,0.00,1.00
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,0.00,1.00
355,Torkoal,Fire,NaN,470,70,85,140,85,70,20,3,0.00,1.00
83,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,0.00,1.00

In [43]:
df_pokemon['Total Neu'] = (df_pokemon['Total'] + 
                           (df_pokemon['Total'] * 
                            df_pokemon['Legendary']))/df_pokemon['Total']

df_pokemon.sample(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Neu
71,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,0.00,1.00
37,Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,0.00,1.00
683,Golett,Ground,Ghost,303,59,74,50,35,50,35,5,0.00,1.00
136,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,0.00,1.00
307,Surskit,Bug,Water,269,40,30,32,50,52,65,3,0.00,1.00
473,Drifblim,Ghost,Flying,498,150,80,44,90,54,80,4,0.00,1.00
309,Shroomish,Grass,NaN,295,60,40,60,40,60,35,3,0.00,1.00
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,0.25,1.25
520,Yanmega,Bug,Flying,515,86,76,86,116,56,95,4,0.00,1.00
660,Klink,Steel,NaN,300,40,55,70,45,60,30,5,0.00,1.00

## Teilaufgabe 3
Kennzeichne mit Hilfe von **np.where()** besonders starke Grass Pokemon, indem du eine Spalte **'Descripition'** anlegst. Pokemon die die folgenden bedingungen einhalten sollten die Beschreibung **'Grass Master'** erhalten.

* Type 1 muss gleich 'Grass' sein
* Total von mindestens 450 oder Speed von über 120

Lassen Sie sich **10 zufällige Zeilen** ihres Ergebnisses ausgeben in dem nur die Spalten **Name, Type 1, Total, Speed und Description** zu sehen sind. Wiederholen Sie die Ausgabe bis Sie das erste mal einen 'Grass Master' entdecken und überprüfen Sie die oben stehenden Bedinungen.

In [90]:
df_pokemon['Description'] = np.where((df_pokemon['Type 1'] == 'Grass') & 
                                     ((df_pokemon['Total']>=450)|
                                     (df_pokemon['Speed']>120)), 'Grass Master', '')

In [93]:
df_pokemon[['Name', 'Type 1', 'Total', 'Speed', 'Description']].sample(10)

                        Name    Type 1  Total  Speed   Description
296                   Seedot     Grass    220     30
365                  Altaria    Dragon    490     80
279    BlazikenMega Blaziken      Fire    630    100
241                 Remoraid     Water    300     65
550        ShayminLand Forme     Grass    600    100  Grass Master
63                 Growlithe      Fire    350     60
372                 Whiscash     Water    468     60
496                    Riolu  Fighting    285     60
12   BlastoiseMega Blastoise     Water    630     78
139                 Magikarp     Water    200     80

## Teilaufgabe 4
Lassen Sie sich alle Pokemon ausgeben, die **nicht** vom Typ 'Grass' sind. Überprüfen Sie mit **.unique()** ob der Wert auch wirklich nichtmehr in der Spalte vorkommt.

In [98]:
# Lösung 1
df_pokemon[df_pokemon['Type 1'] != 'Grass']['Type 1'].unique()

array(['Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric', 'Ground',
       'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice', 'Dragon',
       'Dark', 'Steel', 'Flying'], dtype=object)

In [100]:
# Lösung 2
df_pokemon[~(df_pokemon['Type 1'] == 'Grass')]['Type 1'].unique()

array(['Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric', 'Ground',
       'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice', 'Dragon',
       'Dark', 'Steel', 'Flying'], dtype=object)

## Zusatzaufgabe 1
Geben ist die unten stehende Serie. Finde und wende die entsprechende Methode von **numpy** an um die folgenden Aufgabenstellungen zu bewälitgen.
* Runden auf 3 Nachkommastellen
* Den nächsten ganzzahlige Wert, der kleiner ist
* Den nächsten ganzzahlige Wert, der größer ist
* Abschneiden der Nachkommstellen
* Den nächsten Werte zur Null

Vergleich das Ergebnis der jeweiligen Funktion. Wie verhalten sich die Funktionen bei negativen Werten?

In [136]:
s = pd.Series([1.2757354, 3.25985875, -3.34329328, 
             -4.96296231, 3.67738211, 1.0, 
             3.85342949, -2.41179328, -1.60596741])

s

0    1.275735
1    3.259859
2   -3.343293
3   -4.962962
4    3.677382
5    1.000000
6    3.853429
7   -2.411793
8   -1.605967
dtype: float64

**Runden auf 3 Nachkommastellen**

In [134]:
np.round(s, 3)

0    1.276
1    3.260
2   -3.343
3   -4.963
4    3.677
5    4.222
6    3.853
7   -2.412
8   -1.606
dtype: float64

**Den nächsten ganzzahlige Wert, der kleiner ist**

In [137]:
np.floor(s)

0    1.0
1    3.0
2   -4.0
3   -5.0
4    3.0
5    1.0
6    3.0
7   -3.0
8   -2.0
dtype: float64

**Den nächsten ganzzahlige Wert, der größer ist**

In [138]:
np.ceil(s)

0    2.0
1    4.0
2   -3.0
3   -4.0
4    4.0
5    1.0
6    4.0
7   -2.0
8   -1.0
dtype: float64

**Abschneiden der Nachkommstellen**

In [140]:
np.trunc(s)

0    1.0
1    3.0
2   -3.0
3   -4.0
4    3.0
5    1.0
6    3.0
7   -2.0
8   -1.0
dtype: float64

**Den nächsten Werte zur Null (kürzerste Distanz zur Null)**

In [143]:
pd.Series(np.fix(s))

0    1.0
1    3.0
2   -3.0
3   -4.0
4    3.0
5    1.0
6    3.0
7   -2.0
8   -1.0
dtype: float64

Eine Übersicht aller Mathematischen Funktionen von Numpy findest du unter: https://docs.scipy.org/doc/numpy-1.13.0/reference/routines.math.html

## Zusatzaufgabe 2
Nehmen wir die Logik aus Teilaufgabe 3. Wie muss der Code angepasst werden, dass wir unter den oben stehenden Bedingungen den Typ 1 + die Master Bezeichnung erhalten unabhängig vom seinem Typen?

**Beispiel:**<br>
*Ein Fire Pokemon das die Bedingungen erfüllt bekommt die Beschreibung **'Fire Master'**, ein Pokemon vom Typ Dark die Bezeichnung **'Dark Master'** etc...*

In [152]:
df_pokemon['Description'] = np.where((df_pokemon['Total']>=450)| 
                                     (df_pokemon['Speed']>120), 
                                     df_pokemon['Type 1'] + ' Master', '')
df_pokemon.sample(20)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Neu,Description
720,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,0.00,1.00,Grass Master
57,Meowth,Normal,NaN,290,40,45,35,40,40,90,1,0.00,1.00,
737,Flabébé,Fairy,NaN,303,44,38,39,61,79,42,6,0.00,1.00,
629,Trubbish,Poison,NaN,329,50,50,62,40,62,65,5,0.00,1.00,
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,0.25,1.25,Fire Master
776,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,0.00,1.00,Dragon Master
358,Spinda,Normal,NaN,360,60,60,60,60,60,60,3,0.00,1.00,
119,Rhyhorn,Ground,Rock,345,80,85,95,30,30,25,1,0.00,1.00,
19,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,0.00,1.00,Bug Master
790,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,0.00,1.00,
207,Sunflora,Grass,NaN,425,75,75,55,105,85,30,2,0.00,1.00,
633,Minccino,Normal,NaN,300,55,50,40,40,40,75,5,0.00,1.00,
361,Flygon,Ground,Dragon,520,80,100,80,80,80,100,3,0.00,1.00,Ground Master
441,Starly,Normal,Flying,245,40,55,30,30,30,60,4,0.00,1.00,
485,Bronzong,Steel,Psychic,500,67,89,116,79,116,33,4,0.00,1.00,Steel Master
604,Whirlipede,Bug,Poison,360,40,55,99,40,79,47,5,0.00,1.00,
630,Garbodor,Poison,NaN,474,80,95,82,60,82,75,5,0.00,1.00,Poison Master
328,Mawile,Steel,Fairy,380,50,85,85,55,55,50,3,0.00,1.00,
416,Registeel,Steel,NaN,580,80,75,150,75,150,50,3,0.25,1.25,Steel Master
66,Poliwhirl,Water,NaN,385,65,65,65,50,50,90,1,0.00,1.00,

## Zusatzaufgabe 3
Verketten von <font color='green'>**=WENN**</font> Prüfungen ist in Excel durchaus aufwendig. Dabei hilft uns die <font color='green'>**=WENNS**</font> Funktion. Auch in NUMPY steht uns eine solche Methode zur Verfügung. Mit **np.select()** können wir eine Liste an Prüfungen durchführen.

Füge eine eine neue Spalte mit einer Beschreibung hinzu, je nachdem welche der folgenden Bedinungen eintritt:

* 'Very Weak', wenn Total <= 330    
* 'Weak', wenn Total <= 435
* 'Normal', wenn Total <= 515
* 'Strong', wenn Total > 515

**Tipp:** Um zu lernen wie **np.select()** funktioniert, lese dir die offizielle Dokumentation durch.

In [159]:
s_poke = df_pokemon['Total']

cond = [s_poke<=330, s_poke<=435, s_poke<=515, s_poke>515]
choice = ['Very Weak', 'Weak', 'Normal', 'Strong']

df_pokemon['Description 2'] = np.select(cond, choice)
df_pokemon.sample(20)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Neu,Description,Description 2
25,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,0.00,1.00,,Weak
531,Rotom,Electric,Ghost,440,50,50,77,95,77,91,4,0.00,1.00,,Normal
657,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,0.00,1.00,Bug Master,Normal
342,Volbeat,Bug,NaN,400,65,73,55,47,75,85,3,0.00,1.00,,Weak
182,Ariados,Bug,Poison,390,70,90,70,60,60,40,2,0.00,1.00,,Weak
104,Drowzee,Psychic,NaN,328,60,48,45,43,90,42,1,0.00,1.00,,Very Weak
206,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,0.00,1.00,,Very Weak
172,Totodile,Water,NaN,314,50,65,64,44,48,43,2,0.00,1.00,,Very Weak
580,Unfezant,Normal,Flying,488,80,115,80,65,55,93,5,0.00,1.00,Normal Master,Normal
392,Absol,Dark,NaN,465,65,130,60,75,60,75,3,0.00,1.00,Dark Master,Normal
134,Electabuzz,Electric,NaN,490,65,83,57,95,85,105,1,0.00,1.00,Electric Master,Normal
701,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,0.25,1.25,Grass Master,Strong
410,Beldum,Steel,Psychic,300,40,55,80,35,60,30,3,0.00,1.00,,Very Weak
766,Tyrunt,Rock,Dragon,362,58,89,77,45,45,48,6,0.00,1.00,,Weak
318,Loudred,Normal,NaN,360,84,71,43,71,43,48,3,0.00,1.00,,Weak
112,Cubone,Ground,NaN,320,50,50,95,40,50,35,1,0.00,1.00,,Very Weak
80,Geodude,Rock,Ground,300,40,80,100,30,30,20,1,0.00,1.00,,Very Weak
660,Klink,Steel,NaN,300,40,55,70,45,60,30,5,0.00,1.00,,Very Weak
22,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,0.00,1.00,Normal Master,Normal
767,Tyrantrum,Rock,Dragon,521,82,121,119,69,59,71,6,0.00,1.00,Rock Master,Strong