# Übung 05: Arbeiten mit Text
Für die folgenden Aufgaben benötigst du die Datei **<font color=orange>pokemon_defekt.csv</font>**. Importiere sie entsprechend.

In [1]:
import pandas as pd

In [2]:
df_pokemon = pd.read_csv('../../src/pokemon_defekt.csv')
df_pokemon.sample(10)

                            Name      Type 1     Type 2        Stats
44                    jigglypuff    normal      fairy     HP115-AT45
193                       mareep    electric        NaN    HP55-AT40
659                   ferrothorn      grass     steel      HP74-AT94
200                    sudowoodo      rock          NaN   HP70-AT100
24                       rattata      normal       nan     HP30-AT56
550  shayminland forme legandary      grass        nan   HP100-AT100
610                     basculin       water        NaN    HP70-AT92
456                    bastiodon        rock     steel     HP60-AT52
457                        burmy         bug      nan      HP40-AT29
9                       squirtle       water       nan     HP44-AT48

## Teilaufgabe 1: Aufbereiten der Daten
Überprüfe, ob in den Spalten **NaN**-Werte vorkommen und ob **überflüssige Leerzeichen** existieren. Behebe die auftretenden Fehler dementsprechend. Fülle die NaN Werte mit dem String **'nan'** und überleg dir, wie die Leerzeichen entfernt werden könnten.

> **Hinweis:** Man sieht im DataFrame nicht sofort ob eine Spalte überflüssige Leerzeichen enthält. Schau dir die einzelnen Spalten als Serie an.

**NaN-Werte überprüfen**

In [3]:
# Lösung 1: Das solltest du immer tuen bevor du mit einem Datensetz arbeitest
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
Name      800 non-null object
Type 1    800 non-null object
Type 2    666 non-null object
Stats     800 non-null object
dtypes: object(4)
memory usage: 25.1+ KB

In [4]:
# Lösung 2: Alle Spalten extra überprüfen - Aufwendig
df_pokemon[df_pokemon['Name'].isna()]
df_pokemon[df_pokemon['Type 1'].isna()]
df_pokemon[df_pokemon['Type 2'].isna()]
df_pokemon[df_pokemon['Stats'].isna()]

Empty DataFrame
Columns: [Name, Type 1, Type 2, Stats]
Index: []

In [5]:
# Lösung 3: Falls uns nur die Anzahl der fehlenden Werte interessiert
df_pokemon.isna().sum()

Name        0
Type 1      0
Type 2    134
Stats       0
dtype: int64

In [6]:
# Überschreiben von NaN Werten mit einem leeren String ''
df_pokemon['Type 2'] = df_pokemon['Type 2'].fillna('nan')

**Überflüssige Leerzeichen**

In [7]:
# Lösung: Type 1 und Type 2 sind betroffen. (sample ist nur zur Verkürzung des Outputs)
df_pokemon['Type 1'].sample(5)

676          ice
581     electric
41         fairy
440        water
326         dark
Name: Type 1, dtype: object

In [8]:
df_pokemon['Type 2'].sample(5)

334      psychic
117            nan
541         dragon
517          nan
624          nan
Name: Type 2, dtype: object

In [9]:
# Alternative möglichkeit bei kategorischen Werten
df_pokemon['Type 1'].unique()

array(['  grass  ', 'grass', ' grass ', '  fire  ', ' fire ', 'fire',
       'water', ' water ', 'bug', ' bug ', '  bug  ', '  normal  ',
       'normal', ' normal ', 'poison', '  poison  ', 'electric',
       ' electric ', ' ground ', ' poison ', ' fairy ', '  ground  ',
       '  water  ', ' fighting ', 'fighting', 'psychic', '  psychic  ',
       '  fighting  ', '  rock  ', 'rock', 'ghost', '  ghost  ',
       ' ghost ', '  electric  ', 'ground', 'ice', ' rock ', ' ice ',
       ' dragon ', 'fairy', ' psychic ', 'dark', '  dark  ', '  steel  ',
       'steel', '  ice  ', ' dark ', ' steel ', 'dragon', '  dragon  ',
       'flying', '  flying  ', '  fairy  ', ' flying '], dtype=object)

In [10]:
# Entfernen der Leerzeichen
df_pokemon['Type 1'] = df_pokemon['Type 1'].str.strip()
df_pokemon['Type 2'] = df_pokemon['Type 2'].str.strip()

## Teilaufgabe 2:
Erstelle eine neue Spalte mit dem Namen Type in der die Typen 1 und 2 zusammengefasst werden.

**Beispiel:** Dark-Fire

In [11]:
s = df_pokemon['Type 1'].str.capitalize()
df_pokemon['Type'] = s + '-' + df_pokemon['Type 2'].str.capitalize()
df_pokemon.sample(10)

,Name,Type 1,Type 2,Stats,Type
383,castform,normal,nan,HP70-AT70,Normal-Nan
43,ninetales,fire,nan,HP73-AT76,Fire-Nan
339,manectricmega manectric,electric,nan,HP70-AT75,Electric-Nan
758,binacle,rock,water,HP42-AT52,Rock-Water
38,nidorino,poison,nan,HP61-AT72,Poison-Nan
542,heatran legandary,fire,steel,HP91-AT90,Fire-Steel
528,probopass,rock,steel,HP60-AT55,Rock-Steel
353,camerupt,fire,ground,HP70-AT100,Fire-Ground
420,latiosmega latios legandary,dragon,psychic,HP80-AT130,Dragon-Psychic
325,delcatty,normal,nan,HP70-AT65,Normal-Nan

## Teilaufgabe 3:
Der Name der Pokemon wird nicht passend dargestellt. Es sollte jeweils der erste Buchstabe jedes Teil des Namens großgeschrieben werden.

**Beispiel:** Manectricmega Manectric

In [12]:
df_pokemon['Name'] = df_pokemon['Name'].str.title() 
df_pokemon.sample(10)

,Name,Type 1,Type 2,Stats,Type
154,Aerodactylmega Aerodactyl,rock,flying,HP80-AT135,Rock-Flying
629,Trubbish,poison,nan,HP50-AT50,Poison-Nan
599,Sawk,fighting,nan,HP75-AT125,Fighting-Nan
385,Shuppet,ghost,nan,HP44-AT75,Ghost-Nan
171,Typhlosion,fire,nan,HP78-AT84,Fire-Nan
282,Swampert,water,ground,HP100-AT110,Water-Ground
330,Aron,steel,rock,HP50-AT70,Steel-Rock
62,Primeape,fighting,nan,HP65-AT105,Fighting-Nan
83,Ponyta,fire,nan,HP50-AT85,Fire-Nan
67,Poliwrath,water,fighting,HP90-AT95,Water-Fighting

## Zusatzaufgabe 1:
In der Spalte Status findest du die Werte **HP**(Health Points) und **AT**(Attack) in einem String codiert. Versuche die Codierung so aufzulösen, dass anschließend zwei neue Spalten HP udn AT im DataFrame existieren.

In [13]:
# Split
df_pokemon[['HP', 'AT']] = df_pokemon['Stats'].str.split('-', 2, expand=True)
df_pokemon.tail(10)

,Name,Type 1,Type 2,Stats,Type,HP,AT
790,Noibat,flying,dragon,HP40-AT30,Flying-Dragon,HP40,AT30
791,Noivern,flying,dragon,HP85-AT70,Flying-Dragon,HP85,AT70
792,Xerneas Legandary,fairy,nan,HP126-AT131,Fairy-Nan,HP126,AT131
793,Yveltal Legandary,dark,flying,HP126-AT131,Dark-Flying,HP126,AT131
794,Zygarde50% Forme Legandary,dragon,ground,HP108-AT100,Dragon-Ground,HP108,AT100
795,Diancie Legandary,rock,fairy,HP50-AT100,Rock-Fairy,HP50,AT100
796,Dianciemega Diancie Legandary,rock,fairy,HP50-AT160,Rock-Fairy,HP50,AT160
797,Hoopahoopa Confined Legandary,psychic,ghost,HP80-AT110,Psychic-Ghost,HP80,AT110
798,Hoopahoopa Unbound Legandary,psychic,dark,HP80-AT160,Psychic-Dark,HP80,AT160
799,Volcanion Legandary,fire,water,HP80-AT110,Fire-Water,HP80,AT110

In [14]:
# Replace um 'HP' und 'AT' zu löschen
df_pokemon['AT'] = df_pokemon['AT'].str.replace('AT', '')
df_pokemon['HP'] = df_pokemon['HP'].str.replace('HP', '')
df_pokemon.tail(10)

,Name,Type 1,Type 2,Stats,Type,HP,AT
790,Noibat,flying,dragon,HP40-AT30,Flying-Dragon,40,30
791,Noivern,flying,dragon,HP85-AT70,Flying-Dragon,85,70
792,Xerneas Legandary,fairy,nan,HP126-AT131,Fairy-Nan,126,131
793,Yveltal Legandary,dark,flying,HP126-AT131,Dark-Flying,126,131
794,Zygarde50% Forme Legandary,dragon,ground,HP108-AT100,Dragon-Ground,108,100
795,Diancie Legandary,rock,fairy,HP50-AT100,Rock-Fairy,50,100
796,Dianciemega Diancie Legandary,rock,fairy,HP50-AT160,Rock-Fairy,50,160
797,Hoopahoopa Confined Legandary,psychic,ghost,HP80-AT110,Psychic-Ghost,80,110
798,Hoopahoopa Unbound Legandary,psychic,dark,HP80-AT160,Psychic-Dark,80,160
799,Volcanion Legandary,fire,water,HP80-AT110,Fire-Water,80,110

## Zusatzaufgabe 2
Wenn man sich die Datentypen Spalten AT und HP anschaut, stellt man fest das diese als Text hinterlegt sind (Datentyp:Object). Suche im Internet nach einer möglichkeit die beiden Spalten so umzuwandeln, das der Datentyp stimmt.

In [15]:
# Datentypen überprüfen
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 7 columns):
Name      800 non-null object
Type 1    800 non-null object
Type 2    800 non-null object
Stats     800 non-null object
Type      800 non-null object
HP        800 non-null object
AT        800 non-null object
dtypes: object(7)
memory usage: 43.8+ KB

In [16]:
# Konvertieren der Spalten zu einer Ganzzahl
df_pokemon['HP'] = df_pokemon['HP'].astype('int')
df_pokemon['AT'] = df_pokemon['AT'].astype('int')
df_pokemon.head()

                    Name Type 1  Type 2       Stats          Type  HP   AT
0              Bulbasaur  grass  poison   HP45-AT49  Grass-Poison  45   49
1                Ivysaur  grass  poison   HP60-AT62  Grass-Poison  60   62
2               Venusaur  grass  poison   HP80-AT82  Grass-Poison  80   82
3  Venusaurmega Venusaur  grass  poison  HP80-AT100  Grass-Poison  80  100
4             Charmander   fire     nan   HP39-AT52      Fire-Nan  39   52

In [17]:
# Datentypen erneut überprüfen
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 7 columns):
Name      800 non-null object
Type 1    800 non-null object
Type 2    800 non-null object
Stats     800 non-null object
Type      800 non-null object
HP        800 non-null int32
AT        800 non-null int32
dtypes: int32(2), object(5)
memory usage: 37.6+ KB