# Übung 05: Arbeiten mit Text
Für die folgenden Aufgaben benötigst du die Datei <font color=orange>pokemon_defekt.csv</font>. Importiere sie entsprechend.

In [20]:
import pandas as pd

In [21]:
df_pokemon = pd.read_csv('../../src/pokemon_defekt.csv')
df_pokemon.sample(10)

                            Name      Type 1   Type 2        Stats
29                         arbok    poison      nan      HP60-AT85
550  shayminland forme legandary       grass    nan    HP100-AT100
569                      liepard       dark     nan      HP64-AT88
306      gardevoirmega gardevoir     psychic   fairy     HP68-AT85
727                     bunnelby      normal    nan      HP38-AT36
219                       pineco         bug      NaN    HP50-AT65
427            jirachi legandary      steel   psychic  HP100-AT100
593                      gurdurr    fighting     nan    HP85-AT105
264            suicune legandary       water      NaN   HP100-AT75
259                        magby      fire      nan      HP45-AT75

## Teilaufgabe 1: Aufbereiten der Daten
Überprüfe ob in den Spalten **NaN**-Werte vorkommen und ob es **überflüssige Leerzeichen** existieren. Behebe die auftretenden Fehler dementsprechend. Fülle die NaN Werte mit dem String 'Nan' und überleg dir wie die Leerzeichen entfernt werden könnten.

**Tipp:** Man sieht im DataFrame nicht sofort ob eine Spalte überflüssige Leerzeichen enthält. Schau dir die einzelnen Spalten als Serie an.

**NaN-Werte überprüfen**

In [22]:
# Lösung 1: Das solltest du immer tuen bevor du mit einem Datensetz arbeitest
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
Name      800 non-null object
Type 1    800 non-null object
Type 2    680 non-null object
Stats     800 non-null object
dtypes: object(4)
memory usage: 25.1+ KB

In [23]:
# Lösung 2: Alle Spalten extra überprüfen - Aufwendig
df_pokemon[df_pokemon['Name'].isna()]
df_pokemon[df_pokemon['Type 1'].isna()]
df_pokemon[df_pokemon['Type 2'].isna()]
df_pokemon[df_pokemon['Stats'].isna()]

Empty DataFrame
Columns: [Name, Type 1, Type 2, Stats]
Index: []

In [24]:
# Lösung 3: Falls uns nur die Anzahl der fehlenden Werte interessiert
df_pokemon.isna().sum()

Name        0
Type 1      0
Type 2    120
Stats       0
dtype: int64

In [25]:
# Überschreiben von NaN Werten mit einem leeren String ''
df_pokemon['Type 2'] = df_pokemon['Type 2'].fillna('Nan')

**Überflüssige Leerzeichen**

In [26]:
# Lösung: Type 1 und Type 2 sind betroffen. (sample ist nur zur Verkürzung des Outputs)
df_pokemon['Type 1'].sample(5)

616         fire
372        water
436         fire
704      electric
191      psychic
Name: Type 1, dtype: object

In [27]:
df_pokemon['Type 2'].sample(5)

386          nan
424        fire
780       grass
462      flying
237         rock
Name: Type 2, dtype: object

In [28]:
# Alternative möglichkeit bei kategorischen Werten
df_pokemon['Type 1'].unique()

array(['grass', '  grass  ', ' fire ', 'fire', '  fire  ', ' water ',
       'water', '  bug  ', 'bug', ' bug ', 'normal', ' normal ',
       '  normal  ', '  poison  ', 'electric', ' electric ', '  ground  ',
       ' ground ', ' poison ', ' fairy ', 'fairy', ' grass ', 'fighting',
       '  fighting  ', '  water  ', '  psychic  ', ' psychic ', 'psychic',
       ' fighting ', '  rock  ', ' rock ', '  electric  ', 'poison',
       'ghost', ' ghost ', 'rock', 'ice', '  ice  ', '  dragon  ',
       'dragon', '  fairy  ', 'dark', '  ghost  ', 'ground', '  steel  ',
       'steel', '  dark  ', ' ice ', ' dark ', ' steel ', ' dragon ',
       'flying', ' flying ', '  flying  '], dtype=object)

In [29]:
# Entfernen der Leerzeichen
df_pokemon['Type 1'] = df_pokemon['Type 1'].str.strip()
df_pokemon['Type 2'] = df_pokemon['Type 2'].str.strip()

## Teilaufgabe 2:
Erstelle eine neue Spalte mit dem Namen Type in der die Typen 1 und 2 zusammengefasst werden.

**Beispiel:** Dark-Fire

In [30]:
s = df_pokemon['Type 1'].str.capitalize()
df_pokemon['Type'] = s.str.cat(df_pokemon['Type 2'].str.capitalize(), sep='-')
df_pokemon.sample(10)

          Name   Type 1   Type 2        Stats            Type
398     spheal      ice    water    HP70-AT40       Ice-Water
375     baltoy   ground  psychic    HP40-AT40  Ground-Psychic
490  spiritomb    ghost     dark    HP50-AT92      Ghost-Dark
165        mew  psychic      nan  HP100-AT100     Psychic-Nan
400    walrein      ice    water   HP110-AT80       Ice-Water
548    manaphy    water      nan  HP100-AT100       Water-Nan
463  vespiquen      bug   flying    HP70-AT80      Bug-Flying
505  carnivine    grass      nan   HP74-AT100       Grass-Nan
318    loudred   normal      nan    HP84-AT71      Normal-Nan
546  cresselia  psychic      Nan   HP120-AT70     Psychic-Nan

## Teilaufgabe 3:
Der Name der Pokemon wird nicht passend dargestellt. Es sollte jeweils der erste Buchstabe jedes Teil des Namens großegeschrieben werden.

**Beispiel:** Manectricmega Manectric

In [31]:
df_pokemon['Name'] = df_pokemon['Name'].str.title() 
df_pokemon.sample(10)

,Name,Type 1,Type 2,Stats,Type
683,Golett,ground,ghost,HP59-AT74,Ground-Ghost
533,Rotomwash Rotom,electric,water,HP50-AT65,Electric-Water
698,Volcarona,bug,fire,HP85-AT60,Bug-Fire
648,Emolga,electric,flying,HP55-AT75,Electric-Flying
196,Ampharosmega Ampharos,electric,dragon,HP90-AT95,Electric-Dragon
711,Kyuremblack Kyurem Legandary,dragon,ice,HP125-AT170,Dragon-Ice
498,Lucariomega Lucario,fighting,steel,HP70-AT145,Fighting-Steel
613,Krookodile,ground,dark,HP95-AT117,Ground-Dark
364,Swablu,normal,flying,HP45-AT40,Normal-Flying
695,Zweilous,dark,dragon,HP72-AT85,Dark-Dragon

## Zusatzaufgabe 1:
In der Spalte Status findest du die Werte HP(Health Points) und AT(Attack) in einem String codiert. Versuche die Codierung so aufzulösen, dass anschließend zwei neue Spalten HP udn AT im DataFrame existieren.

In [32]:
# Split
df_pokemon[['HP', 'AT']] = df_pokemon['Stats'].str.split('-', 2, expand=True)
df_pokemon.tail(10)

,Name,Type 1,Type 2,Stats,Type,HP,AT
790,Noibat,flying,dragon,HP40-AT30,Flying-Dragon,HP40,AT30
791,Noivern,flying,dragon,HP85-AT70,Flying-Dragon,HP85,AT70
792,Xerneas Legandary,fairy,nan,HP126-AT131,Fairy-Nan,HP126,AT131
793,Yveltal Legandary,dark,flying,HP126-AT131,Dark-Flying,HP126,AT131
794,Zygarde50% Forme Legandary,dragon,ground,HP108-AT100,Dragon-Ground,HP108,AT100
795,Diancie Legandary,rock,fairy,HP50-AT100,Rock-Fairy,HP50,AT100
796,Dianciemega Diancie Legandary,rock,fairy,HP50-AT160,Rock-Fairy,HP50,AT160
797,Hoopahoopa Confined Legandary,psychic,ghost,HP80-AT110,Psychic-Ghost,HP80,AT110
798,Hoopahoopa Unbound Legandary,psychic,dark,HP80-AT160,Psychic-Dark,HP80,AT160
799,Volcanion Legandary,fire,water,HP80-AT110,Fire-Water,HP80,AT110

In [33]:
# Replace um 'HP' und 'AT' zu löschen
df_pokemon['AT'] = df_pokemon['AT'].str.replace('AT', '')
df_pokemon['HP'] = df_pokemon['HP'].str.replace('HP', '')
df_pokemon.tail(10)

,Name,Type 1,Type 2,Stats,Type,HP,AT
790,Noibat,flying,dragon,HP40-AT30,Flying-Dragon,40,30
791,Noivern,flying,dragon,HP85-AT70,Flying-Dragon,85,70
792,Xerneas Legandary,fairy,nan,HP126-AT131,Fairy-Nan,126,131
793,Yveltal Legandary,dark,flying,HP126-AT131,Dark-Flying,126,131
794,Zygarde50% Forme Legandary,dragon,ground,HP108-AT100,Dragon-Ground,108,100
795,Diancie Legandary,rock,fairy,HP50-AT100,Rock-Fairy,50,100
796,Dianciemega Diancie Legandary,rock,fairy,HP50-AT160,Rock-Fairy,50,160
797,Hoopahoopa Confined Legandary,psychic,ghost,HP80-AT110,Psychic-Ghost,80,110
798,Hoopahoopa Unbound Legandary,psychic,dark,HP80-AT160,Psychic-Dark,80,160
799,Volcanion Legandary,fire,water,HP80-AT110,Fire-Water,80,110

## Zusatzaufgabe 2
Wenn man sich die Datentypen Spalten AT und HP anschaut, stellt man fest das diese als Text hinterlegt sind (Datentyp:Object). Suche im Internet nach einer möglichkeit die beiden Spalten so umzuwandeln, das der Datentyp stimmt.

In [38]:
# Datentypen überprüfen
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 7 columns):
Name      800 non-null object
Type 1    800 non-null object
Type 2    800 non-null object
Stats     800 non-null object
Type      800 non-null object
HP        800 non-null int32
AT        800 non-null int32
dtypes: int32(2), object(5)
memory usage: 37.6+ KB

In [36]:
# Konvertieren der Spalten zu einer Ganzzahl
df_pokemon['HP'] = df_pokemon['HP'].astype('int')
df_pokemon['AT'] = df_pokemon['AT'].astype('int')
df_pokemon.head()

                    Name Type 1  Type 2       Stats          Type  HP   AT
0              Bulbasaur  grass  poison   HP45-AT49  Grass-Poison  45   49
1                Ivysaur  grass  poison   HP60-AT62  Grass-Poison  60   62
2               Venusaur  grass  poison   HP80-AT82  Grass-Poison  80   82
3  Venusaurmega Venusaur  grass  poison  HP80-AT100  Grass-Poison  80  100
4             Charmander   fire     nan   HP39-AT52      Fire-Nan  39   52

In [39]:
# Datentypen erneut überprüfen
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 7 columns):
Name      800 non-null object
Type 1    800 non-null object
Type 2    800 non-null object
Stats     800 non-null object
Type      800 non-null object
HP        800 non-null int32
AT        800 non-null int32
dtypes: int32(2), object(5)
memory usage: 37.6+ KB