# Übung 05: Arbeiten mit Text
Für die folgenden Aufgaben benötigst du die Datei <font color=orange>pokemon_defekt.csv</font>. Importiere sie entsprechend.

In [5]:
# --- Lösung ---
import pandas as pd

In [8]:
# --- Lösung ---
df_pokemon = pd.read_csv('../../src/pokemon_defekt.csv')
df_pokemon.sample(10)

                          Name        Type 1      Type 2        Stats
120                     rhydon       ground       rock    HP105-AT130
226                   granbull       fairy           NaN   HP90-AT120
501                    skorupi        poison       bug      HP40-AT50
8    charizardmega charizard y         fire     flying    HP101-AT104
415           regice legandary         ice          nan     HP80-AT50
167                    bayleef       grass           NaN    HP60-AT62
335                   medicham    fighting       psychic    HP60-AT60
280                     mudkip         water       nan      HP50-AT70
59                     psyduck         water       nan      HP50-AT52
50                   vileplume        grass       poison    HP75-AT80

# Teilaufgabe 1: Aufbereiten der Daten
Überprüfe ob in den Spalten nan Werte vorkommen und ob es überflüssige Leerzeichen existieren. Behebe die auftretenden Fehler dementsprechend.

In [24]:
# Alle Spalten extra überprüfen
df_pokemon[df_pokemon['Name'].isna()]
df_pokemon[df_pokemon['Type 1'].isna()]
df_pokemon[df_pokemon['Type 2'].isna()]
df_pokemon[df_pokemon['Stats'].isna()]

Empty DataFrame
Columns: [Name, Type 1, Type 2, Stats]
Index: []

In [25]:
# Best Lösung
df_pokemon.info()
df_pokemon.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
Name      800 non-null object
Type 1    800 non-null object
Type 2    680 non-null object
Stats     800 non-null object
dtypes: object(4)
memory usage: 25.1+ KB

Name        0
Type 1      0
Type 2    120
Stats       0
dtype: int64

In [ ]:
Sorge dafür das die Spalte wie folgt formatiert werden:
* Name in Pascal Case
* Type1 Erster Buchstabe Groß geschrieben
*