# Übung 06: Nachschlagen und Verweisen

In [1]:
import pandas as pd

## Generierung von Trainings Datensätzen
Führe den folgenden Abschnitt aus, damit dir die Trainingsdatensätze zur Verfügung stehen.

In [2]:
df_A = pd.DataFrame()
df_A['Column A'] = list(range(0,6))
df_A['Data'] = 'A1'
df_A

   Column A Data
0         0   A1
1         1   A1
2         2   A1
3         3   A1
4         4   A1
5         5   A1

In [3]:
df_B = pd.DataFrame()
df_B['Column C'] = list(range(2,7))*2
df_B['Data'] = (['B1']*5+['B2']*5)
df_B

   Column C Data
0         2   B1
1         3   B1
2         4   B1
3         5   B1
4         6   B1
5         2   B2
6         3   B2
7         4   B2
8         5   B2
9         6   B2

## Teilaufgabe 1:
Verbinde die beiden Datensätze aus df_A und df_B auf folgende Weisen:
* Als Schlüssel für den Merge soll der **Index** dienen und nur Elemente die in beiden DataFrames vorkommen.
* Benutze die Spalte **'Column A'** aus df_A und die Spalte **'Column C'** aus df_B um eine Verbindung zwischen den Datensätzen herzustellen. Überlege dir warum jeder Übereinstimmende Wert in Spalte 'Column A' oder 'Column C' zweimal vorkommt. Es sollen wieder nur Elemente vorkommen die in beiden DataFrames exisitieren.
* Verbinde die beiden DataFrames so, dass **alle Elemente aus df_A** erhalten bleiben auch wenn es keine zu verknüpfenden Elemente in df_B gibt.
* Ersetze die entstehende Suffixe **'\_x' und '\_y'** sinnvoll durch A und B

**Merge mit Index**

In [4]:
pd.merge(df_A, df_B, how='inner', left_index=True, right_index=True)

   Column A Data_x  Column C Data_y
0         0     A1         2     B1
1         1     A1         3     B1
2         2     A1         4     B1
3         3     A1         5     B1
4         4     A1         6     B1
5         5     A1         2     B2

**Merge mit Spalte A und C**

In [5]:
pd.merge(df_A, df_B, how='inner', left_on=['Column A'], right_on=['Column C'])

   Column A Data_x  Column C Data_y
0         2     A1         2     B1
1         2     A1         2     B2
2         3     A1         3     B1
3         3     A1         3     B2
4         4     A1         4     B1
5         4     A1         4     B2
6         5     A1         5     B1
7         5     A1         5     B2

**Merge mit allen Elementen aus df_A**

In [6]:
pd.merge(df_A, df_B, how='left', left_on='Column A', right_on='Column C')

   Column A Data_x  Column C Data_y
0         0     A1       NaN    NaN
1         1     A1       NaN    NaN
2         2     A1       2.0     B1
3         2     A1       2.0     B2
4         3     A1       3.0     B1
5         3     A1       3.0     B2
6         4     A1       4.0     B1
7         4     A1       4.0     B2
8         5     A1       5.0     B1
9         5     A1       5.0     B2

**Suffixe ändern**

In [7]:
pd.merge(df_A, df_B, how='left', suffixes=('_A', '_B'), left_on='Column A', right_on='Column C')

   Column A Data_A  Column C Data_B
0         0     A1       NaN    NaN
1         1     A1       NaN    NaN
2         2     A1       2.0     B1
3         2     A1       2.0     B2
4         3     A1       3.0     B1
5         3     A1       3.0     B2
6         4     A1       4.0     B1
7         4     A1       4.0     B2
8         5     A1       5.0     B1
9         5     A1       5.0     B2

## Teilaufgabe 2:
Nun wollen wir uns ma mit einem echten Datensatz anschauen, wie das erweitern funktioniert. Das folgende Datenset enthält alle Teilnehmer der Olympischen Spiele seit 1980. 


### Aufgabe
Füge die drei Tabellen so zusammen, dass du am Schluss eine einzige Tabelle erhälst in der Alle Details vorhanden sind.


### Dateien
Für Teilaufgabe 2 müssen wir drei Dateien aus dem folgenden Ordner importieren:

**src\bigdata\120-years-of-olympic-history-athletes-and-results**

* <font color='orange'>events.csv</font>
* <font color='orange'>athlets.csv</font>
* <font color='orange'>year_season_city.csv</font>

In [8]:
# Liste der Veranstaltungsorte
df_year_season = pd.read_csv('../../src/bigdata/120-years-of-olympic-history-athletes-and-results/year_season_city.csv', 
                             index_col=0)
df_year_season.head()

   Year  Season            City
0  2016  Summer  Rio de Janeiro
1  2014  Winter           Sochi
2  2012  Summer          London
3  2010  Winter       Vancouver
4  2008  Summer         Beijing

In [9]:
# Liste der Teilnehmer
df_athlets = pd.read_csv('../../src/bigdata/120-years-of-olympic-history-athletes-and-results/athlets.csv', 
                             index_col=0)

df_athlets.head()

                        Name Sex   Age  Height  Weight
ID
1                  A Dijiang   M  24.0   180.0    80.0
2                   A Lamusi   M  23.0   170.0    60.0
5   Christine Jacoba Aaftink   F  21.0   185.0    82.0
6            Per Knut Aaland   M  31.0   188.0    75.0
7               John Aalberg   M  31.0   183.0    72.0

In [10]:
# Liste aller Medalien
df_events = pd.read_csv('../../src/bigdata/120-years-of-olympic-history-athletes-and-results/events.csv', 
                             index_col=0)

df_events.head()

   ID  Year  Season          Sport                               Event Medal
0   1  1992  Summer     Basketball         Basketball Men's Basketball   NaN
1   2  2012  Summer           Judo        Judo Men's Extra-Lightweight   NaN
2   5  1988  Winter  Speed Skating    Speed Skating Women's 500 metres   NaN
3   5  1988  Winter  Speed Skating  Speed Skating Women's 1,000 metres   NaN
4   5  1992  Winter  Speed Skating    Speed Skating Women's 500 metres   NaN

In [11]:
# Zusammenführung events <- athlets 
df_solution = pd.merge(df_events, df_athlets , how='left', left_on=['ID'], right_index=True)
df_solution

,ID,Year,Season,Sport,Event,Medal,Name,Sex,Age,Height,Weight
0,1,1992,Summer,Basketball,Basketball Men's Basketball,NaN,A Dijiang,M,24.0,180.0,80.0
1,2,2012,Summer,Judo,Judo Men's Extra-Lightweight,NaN,A Lamusi,M,23.0,170.0,60.0
2,5,1988,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN,Christine Jacoba Aaftink,F,21.0,185.0,82.0
3,5,1988,Winter,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Christine Jacoba Aaftink,F,21.0,185.0,82.0
4,5,1992,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN,Christine Jacoba Aaftink,F,21.0,185.0,82.0
5,5,1992,Winter,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Christine Jacoba Aaftink,F,21.0,185.0,82.0
6,5,1994,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN,Christine Jacoba Aaftink,F,21.0,185.0,82.0
7,5,1994,Winter,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Christine Jacoba Aaftink,F,21.0,185.0,82.0
8,6,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,Per Knut Aaland,M,31.0,188.0,75.0
9,6,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN,Per Knut Aaland,M,31.0,188.0,75.0
10,6,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,Per Knut Aaland,M,31.0,188.0,75.0
11,6,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,Per Knut Aaland,M,31.0,188.0,75.0
12,6,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,Per Knut Aaland,M,31.0,188.0,75.0
13,6,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN,Per Knut Aaland,M,31.0,188.0,75.0
14,6,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,Per Knut Aaland,M,31.0,188.0,75.0
15,6,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,Per Knut Aaland,M,31.0,188.0,75.0
16,7,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,John Aalberg,M,31.0,183.0,72.0
17,7,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN,John Aalberg,M,31.0,183.0,72.0
18,7,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,John Aalberg,M,31.0,183.0,72.0
19,7,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,John Aalberg,M,31.0,183.0,72.0
20,7,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,John Aalberg,M,31.0,183.0,72.0
21,7,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN,John Aalberg,M,31.0,183.0,72.0
22,7,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,John Aalberg,M,31.0,183.0,72.0
23,7,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,John Aalberg,M,31.0,183.0,72.0
24,9,2002,Winter,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN,Antti Sami Aalto,M,26.0,186.0,96.0
25,11,1980,Winter,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN,Jorma Ilmari Aalto,M,22.0,182.0,76.5
26,12,2000,Summer,Badminton,Badminton Men's Singles,NaN,Jyri Tapani Aalto,M,31.0,172.0,70.0
27,13,1996,Summer,Sailing,Sailing Women's Windsurfer,NaN,Minna Maarit Aalto,F,30.0,159.0,55.5
28,13,2000,Summer,Sailing,Sailing Women's Windsurfer,NaN,Minna Maarit Aalto,F,30.0,159.0,55.5
29,14,1994,Winter,Biathlon,Biathlon Women's 7.5 kilometres Sprint,NaN,Pirjo Hannele Aalto (Mattila-),F,32.0,171.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...
157387,135554,1980,Summer,Fencing,"Fencing Men's Foil, Team",Bronze,Bogusaw Zych,M,28.0,182.0,82.0
157388,135554,1988,Summer,Fencing,"Fencing Men's Foil, Individual",NaN,Bogusaw Zych,M,28.0,182.0,82.0
157389,135554,1988,Summer,Fencing,"Fencing Men's Foil, Team",NaN,Bogusaw Zych,M,28.0,182.0,82.0
157390,135554,1988,Summer,Fencing,"Fencing Men's epee, Team",NaN,Bogusaw Zych,M,28.0,182.0,82.0
157391,135555,2006,Winter,Figure Skating,Figure Skating Mixed Ice Dancing,NaN,Micha Zych,M,23.0,177.0,68.0
157392,135556,1980,Summer,Swimming,Swimming Men's 100 metres Butterfly,NaN,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0
157393,135556,1980,Summer,Swimming,Swimming Men's 200 metres Butterfly,NaN,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0
157394,135557,2008,Summer,Sailing,Sailing Men's Two Person Keelboat,NaN,Dominik ycki,M,34.0,192.0,95.0
157395,135557,2012,Summer,Sailing,Sailing Men's Two Person Keelboat,NaN,Dominik ycki,M,34.0,192.0,95.0
157396,135558,2012,Summer,Volleyball,Volleyball Men's Volleyball,NaN,ukasz Tomasz ygado,M,32.0,200.0,89.0
157397,135559,1994,Winter,Speed Skating,"Speed Skating Men's 1,500 metres",NaN,Pawe Jan Zygmunt,M,21.0,182.0,79.0
157398,135559,1994,Winter,Speed Skating,"Speed Skating Men's 5,000 metres",NaN,Pawe Jan Zygmunt,M,21.0,182.0,79.0
157399,135559,1998,Winter,Speed Skating,"Speed Skating Men's 1,500 metres",NaN,Pawe Jan Zygmunt,M,21.0,182.0,79.0
157400,135559,1998,Winter,Speed Skating,"Speed Skating Men's 5,000 metres",NaN,Pawe Jan Zygmunt,M,21.0,182.0,79.0
157401,135559,2002,Winter,Speed Skating,"Speed Skating Men's 5,000 metres",NaN,Pawe Jan Zygmunt,M,21.0,182.0,79.0
157402,135559,2002,Winter,Speed Skating,"Speed Skating Men's 10,000 metres",NaN,Pawe Jan Zygmunt,M,21.0,182.0,79.0
157403,135559,2006,Winter,Speed Skating,"Speed Skating Men's 5,000 metres",NaN,Pawe Jan Zygmunt,M,21.0,182.0,79.0
157404,135560,2004,Summer,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN,Stavroula Zygouri,F,36.0,171.0,63.0
157405,135563,2000,Summer,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0
157406,135563,2004,Summer,Athletics,Athletics Women's 4 x 400 metres Relay,Silver,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0
157407,135564,2002,Winter,Luge,Luge Mixed (Men)'s Doubles,NaN,Yevgeny Aleksandrovich Zykov,M,22.0,172.0,65.0
157408,135565,2000,Summer,Hockey,Hockey Men's Hockey,NaN,Fernando scar Zylberberg,M,23.0,168.0,76.0
157409,135565,2004,Summer,Hockey,Hockey Men's Hockey,NaN,Fernando scar Zylberberg,M,23.0,168.0,76.0
157410,135567,2000,Summer,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0
157411,135567,2004,Summer,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0
157412,135568,2016,Summer,Basketball,Basketball Women's Basketball,NaN,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0
157413,135570,2014,Winter,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,Piotr ya,M,27.0,176.0,59.0
157414,135570,2014,Winter,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,Piotr ya,M,27.0,176.0,59.0
157415,135571,1998,Winter,Bobsleigh,Bobsleigh Men's Four,NaN,Tomasz Ireneusz ya,M,30.0,185.0,96.0
157416,135571,2002,Winter,Bobsleigh,Bobsleigh Men's Four,NaN,Tomasz Ireneusz ya,M,30.0,185.0,96.0

In [12]:
# Zusammenführung df_solution <- season 
df_solution = pd.merge(df_solution, df_year_season, how='left', on=['Year', 'Season'])
df_solution

,ID,Year,Season,Sport,Event,Medal,Name,Sex,Age,Height,Weight,City
0,1,1992,Summer,Basketball,Basketball Men's Basketball,NaN,A Dijiang,M,24.0,180.0,80.0,Barcelona
1,2,2012,Summer,Judo,Judo Men's Extra-Lightweight,NaN,A Lamusi,M,23.0,170.0,60.0,London
2,5,1988,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Calgary
3,5,1988,Winter,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Calgary
4,5,1992,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Albertville
5,5,1992,Winter,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Albertville
6,5,1994,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Lillehammer
7,5,1994,Winter,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Lillehammer
8,6,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,Per Knut Aaland,M,31.0,188.0,75.0,Albertville
9,6,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN,Per Knut Aaland,M,31.0,188.0,75.0,Albertville
10,6,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,Per Knut Aaland,M,31.0,188.0,75.0,Albertville
11,6,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,Per Knut Aaland,M,31.0,188.0,75.0,Albertville
12,6,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,Per Knut Aaland,M,31.0,188.0,75.0,Lillehammer
13,6,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN,Per Knut Aaland,M,31.0,188.0,75.0,Lillehammer
14,6,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,Per Knut Aaland,M,31.0,188.0,75.0,Lillehammer
15,6,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,Per Knut Aaland,M,31.0,188.0,75.0,Lillehammer
16,7,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,John Aalberg,M,31.0,183.0,72.0,Albertville
17,7,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN,John Aalberg,M,31.0,183.0,72.0,Albertville
18,7,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,John Aalberg,M,31.0,183.0,72.0,Albertville
19,7,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,John Aalberg,M,31.0,183.0,72.0,Albertville
20,7,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,John Aalberg,M,31.0,183.0,72.0,Lillehammer
21,7,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN,John Aalberg,M,31.0,183.0,72.0,Lillehammer
22,7,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,John Aalberg,M,31.0,183.0,72.0,Lillehammer
23,7,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,John Aalberg,M,31.0,183.0,72.0,Lillehammer
24,9,2002,Winter,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN,Antti Sami Aalto,M,26.0,186.0,96.0,Salt Lake City
25,11,1980,Winter,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN,Jorma Ilmari Aalto,M,22.0,182.0,76.5,Lake Placid
26,12,2000,Summer,Badminton,Badminton Men's Singles,NaN,Jyri Tapani Aalto,M,31.0,172.0,70.0,Sydney
27,13,1996,Summer,Sailing,Sailing Women's Windsurfer,NaN,Minna Maarit Aalto,F,30.0,159.0,55.5,Atlanta
28,13,2000,Summer,Sailing,Sailing Women's Windsurfer,NaN,Minna Maarit Aalto,F,30.0,159.0,55.5,Sydney
29,14,1994,Winter,Biathlon,Biathlon Women's 7.5 kilometres Sprint,NaN,Pirjo Hannele Aalto (Mattila-),F,32.0,171.0,65.0,Lillehammer
...,...,...,...,...,...,...,...,...,...,...,...,...
157387,135554,1980,Summer,Fencing,"Fencing Men's Foil, Team",Bronze,Bogusaw Zych,M,28.0,182.0,82.0,Moskva
157388,135554,1988,Summer,Fencing,"Fencing Men's Foil, Individual",NaN,Bogusaw Zych,M,28.0,182.0,82.0,Seoul
157389,135554,1988,Summer,Fencing,"Fencing Men's Foil, Team",NaN,Bogusaw Zych,M,28.0,182.0,82.0,Seoul
157390,135554,1988,Summer,Fencing,"Fencing Men's epee, Team",NaN,Bogusaw Zych,M,28.0,182.0,82.0,Seoul
157391,135555,2006,Winter,Figure Skating,Figure Skating Mixed Ice Dancing,NaN,Micha Zych,M,23.0,177.0,68.0,Torino
157392,135556,1980,Summer,Swimming,Swimming Men's 100 metres Butterfly,NaN,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Moskva
157393,135556,1980,Summer,Swimming,Swimming Men's 200 metres Butterfly,NaN,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Moskva
157394,135557,2008,Summer,Sailing,Sailing Men's Two Person Keelboat,NaN,Dominik ycki,M,34.0,192.0,95.0,Beijing
157395,135557,2012,Summer,Sailing,Sailing Men's Two Person Keelboat,NaN,Dominik ycki,M,34.0,192.0,95.0,London
157396,135558,2012,Summer,Volleyball,Volleyball Men's Volleyball,NaN,ukasz Tomasz ygado,M,32.0,200.0,89.0,London
157397,135559,1994,Winter,Speed Skating,"Speed Skating Men's 1,500 metres",NaN,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Lillehammer
157398,135559,1994,Winter,Speed Skating,"Speed Skating Men's 5,000 metres",NaN,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Lillehammer
157399,135559,1998,Winter,Speed Skating,"Speed Skating Men's 1,500 metres",NaN,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Nagano
157400,135559,1998,Winter,Speed Skating,"Speed Skating Men's 5,000 metres",NaN,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Nagano
157401,135559,2002,Winter,Speed Skating,"Speed Skating Men's 5,000 metres",NaN,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Salt Lake City
157402,135559,2002,Winter,Speed Skating,"Speed Skating Men's 10,000 metres",NaN,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Salt Lake City
157403,135559,2006,Winter,Speed Skating,"Speed Skating Men's 5,000 metres",NaN,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Torino
157404,135560,2004,Summer,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN,Stavroula Zygouri,F,36.0,171.0,63.0,Athina
157405,135563,2000,Summer,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Sydney
157406,135563,2004,Summer,Athletics,Athletics Women's 4 x 400 metres Relay,Silver,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Athina
157407,135564,2002,Winter,Luge,Luge Mixed (Men)'s Doubles,NaN,Yevgeny Aleksandrovich Zykov,M,22.0,172.0,65.0,Salt Lake City
157408,135565,2000,Summer,Hockey,Hockey Men's Hockey,NaN,Fernando scar Zylberberg,M,23.0,168.0,76.0,Sydney
157409,135565,2004,Summer,Hockey,Hockey Men's Hockey,NaN,Fernando scar Zylberberg,M,23.0,168.0,76.0,Athina
157410,135567,2000,Summer,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Sydney
157411,135567,2004,Summer,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Athina
157412,135568,2016,Summer,Basketball,Basketball Women's Basketball,NaN,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Rio de Janeiro
157413,135570,2014,Winter,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,Piotr ya,M,27.0,176.0,59.0,Sochi
157414,135570,2014,Winter,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,Piotr ya,M,27.0,176.0,59.0,Sochi
157415,135571,1998,Winter,Bobsleigh,Bobsleigh Men's Four,NaN,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Nagano
157416,135571,2002,Winter,Bobsleigh,Bobsleigh Men's Four,NaN,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Salt Lake City

## Zusatzübung 1:
Wir möchten das der Name der Athleten in Vorname und Nachname aufgeteilt wird.

In [13]:
df_athlets[['Forname', 'Last Name']] = df_athlets['Name'].str.rsplit(' ', n=1, expand=True)
df_athlets.head()

,Name,Sex,Age,Height,Weight,Forname,Last Name
ID,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,A,Dijiang
2,A Lamusi,M,23.0,170.0,60.0,A,Lamusi
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Christine Jacoba,Aaftink
6,Per Knut Aaland,M,31.0,188.0,75.0,Per Knut,Aaland
7,John Aalberg,M,31.0,183.0,72.0,John,Aalberg

## Zusatzübung 2:
Manachmal steht man vor dem Problem, das man gerne aufgrundlage eines Zeitstempels Daten mitteinandere verknüpfen will. Die Problematik hierbei ist, das wir meist mehrer Zeitstempel haben die einer festen Zeit zugewiesen werden könnten.

**Tabelle A:**
    
| ValueA | TimesA |
|--------|------- |
| A      | 16:00  |


**Tabelle B:**

| ValueA | TimesA |
|-------|-------|
| W     | 15:42 | 
| X     | 15:53 |
| Y     | 16:04 |
| Z     | 16:12 |


**Ergebnis:** 

| ValueA | TimesA | ValueB | TimesB |
|--------|--------|--------|--------|
| W      | 16:00  |Y       | 16:04  |

<hr>

### Aufgabe

In der folgenden Aufgabe wollen wir die Preise einer Cryptowährung auf die Börsen Öffnungs- und Schlusszeiten der Frankfurter Börse mappen.

**Auszug aus dem Ergebnis:**

Date|Time|Location|timestamp|close|high|volume|open|low
---|---|---|---|---|---|---|---|---
2019-06-17 08:00:00|8|FRA|2019-06-17 08:05:39|241.6300048828125|241.72000122070312|240989.0|240.8000030517578|240.75
2019-06-17 22:00:00|22|FRA|2019-06-17 22:02:05|244.05999755859372|244.2700042724609|115902.0|243.33999633789062|243.33999633789062

### Dateien

Hierfür müssen zunächst die folgenden drei Dateien importiert werden: 

* <font color='orange'>ethereum.csv</font>
* <font color='orange'>FRA_days.csv</font>
* <font color='orange'>FRA_opening_hours.csv</font>

<hr>

**Tipp**: Um das Datum und die Zeit zusammenzuführen benutze die folgende Formel

``df['Date'] + df['Time'].apply(lambda x: pd.DateOffset(hours=x))``

Aus einem String kannst du mit folgender Formel ein Datetime Object machen

``df_stock['timestamp'] = pd.to_datetime(df_stock['timestamp'])``

Wie du aufgrund von **Zeitstempeln** Datensätze zusammenführen kannst, findest du in der Dokumentation unter:<br> 
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#timeseries-friendly-merging

<hr>

In [14]:
df_opening_times = pd.read_csv('../../src/FRA_opening_hours.csv')
df_opening_times

   Key  Time Location
0    0     8      FRA
1    0    22      FRA

In [15]:
df_days = pd.read_csv('../../src/FRA_days.csv')
df_days.head()

         Date  Key
0  2019-06-17    0
1  2019-06-18    0
2  2019-06-19    0
3  2019-06-20    0
4  2019-06-21    0

In [16]:
df_stock = pd.read_csv('../../src/ethereum.csv') 
df_stock.head()

,timestamp,close,high,volume,open,low
0,2019-06-17 00:19:41,241.770004,241.940002,114107.0,241.100006,241.100006
1,2019-06-17 00:20:42,243.080002,243.690002,309802.0,241.759995,241.679993
2,2019-06-17 00:47:34,243.160004,243.199997,143161.0,243.080002,242.500000
3,2019-06-17 01:07:57,243.440002,243.589996,90154.0,243.210007,243.210007
4,2019-06-17 01:21:35,242.539993,243.669998,30257.0,243.440002,242.539993

In [17]:
# Zwischenschritt opening hours und days zusammenführen
df_market = pd.merge(df_days, df_opening_times, on='Key')
df_market = df_market.drop(columns=['Key'])
df_market.head()

         Date  Time Location
0  2019-06-17     8      FRA
1  2019-06-17    22      FRA
2  2019-06-18     8      FRA
3  2019-06-18    22      FRA
4  2019-06-19     8      FRA

In [18]:
# Verbinden der des Datums mit der Urhzeit
df_market['Date'] = pd.to_datetime(df_market['Date'])
df_market['Date'] = df_market['Date'] + df_market['Time'].apply(lambda x: pd.DateOffset(hours=x))
df_market = df_market.sort_values('Date')
df_market.head()

C:\Users\douk11ibag\AppData\Local\conda\conda\envs\python-beginner\lib\site-packages\pandas\core\arrays\datetimelike.py:1129: PerformanceWarning: Adding/subtracting array of DateOffsets to DatetimeArray not vectorized
  .format(cls=type(self).__name__), PerformanceWarning)

                 Date  Time Location
0 2019-06-17 08:00:00     8      FRA
1 2019-06-17 22:00:00    22      FRA
2 2019-06-18 08:00:00     8      FRA
3 2019-06-18 22:00:00    22      FRA
4 2019-06-19 08:00:00     8      FRA

In [19]:
# Umwandlung von String in Datetime
df_stock['timestamp'] = pd.to_datetime(df_stock['timestamp'])

In [20]:
# Lösung
df_solution = pd.merge_asof(df_market, df_stock, left_on='Date', right_on='timestamp', direction='nearest')
df_solution.head(2)

,Date,Time,Location,timestamp,close,high,volume,open,low
0,2019-06-17 08:00:00,8,FRA,2019-06-17 08:05:39,241.630005,241.720001,240989.0,240.800003,240.750000
1,2019-06-17 22:00:00,22,FRA,2019-06-17 22:02:05,244.059998,244.270004,115902.0,243.339996,243.339996

## Zusatzaufgabe 3:
Bilden Sie eine neue Spalte die den Mittelwert aus der Open Close Zeilenweise für jeden Datensatz bestimmt.<br> Benutzen Sie hierfür die Funktion **.mean()** eines DataFrames.

In [21]:
# Lösung
df_solution['mean'] = df_solution[['open', 'close']].mean(axis=1)
df_solution.head()

,Date,Time,Location,timestamp,close,high,volume,open,low,mean
0,2019-06-17 08:00:00,8,FRA,2019-06-17 08:05:39,241.630005,241.720001,240989.0,240.800003,240.750000,241.215004
1,2019-06-17 22:00:00,22,FRA,2019-06-17 22:02:05,244.059998,244.270004,115902.0,243.339996,243.339996,243.699997
2,2019-06-18 08:00:00,8,FRA,2019-06-18 08:01:21,240.509995,240.520004,214377.0,239.529999,239.529999,240.019997
3,2019-06-18 22:00:00,22,FRA,2019-06-18 22:03:59,234.309998,234.309998,106359.0,234.050003,233.600006,234.180000
4,2019-06-19 08:00:00,8,FRA,2019-06-19 07:46:07,240.610001,240.960007,427658.0,240.470001,240.429993,240.540001