# Übung 10: Widgets
Für die folgenden Aufgaben benötigst du die Datei <font color=orange>bigdata/120-years-of-olympic-history-athletes-and-results/athlete_events.csv</font>. Importiere sie entsprechend.

In [48]:
import pandas as pd
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

In [49]:
df = pd.read_csv('../../src/bigdata/120-years-of-olympic-history-athletes-and-results/athlete_events.csv')
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

# Teilaufgabe 1
Erstelle mithilfe von **interact** eine Funktion, die dir nur die Daten aus einen bestimmten Jahr anzeigt. Das Jahr soll mit einem **Slider** ausgewählt werden können. Damit der DataFrame nicht so groß wird filtere vorher die Daten, sodass Sie nur die Daten deiner Liebelingssportart enthalten (z.B. 'Table Tennis' oder 'Beach Volleyball'). 


**Verbesserung des Sliders, wenn du mit der obigen Aufgabe fertig bist**:<br>
Die olympischen Spiele finden nur alle zwei Jahre statt. Passe den **Slider** zur Auswahl des Jahres so an, das dieser in 4 Jahres Schritten (Sommerspiele) oder in 2 Jahres Schritten (Winterspiele, früher alle 2 Jahre) arbeitet. Außerdem überlege dir eine sinnvolle grobsortierung des Ergebnisses.

In [50]:
# Wähle eine Sportart aus
df['Sport'].unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [51]:
# Filtern der Sportart
df_my_sport = df[df['Sport'] == 'Table Tennis']
df_my_sport.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
498,277,Shaimaa Abdul Aziz,F,19.0,160.0,53.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Singles,NaN
499,277,Shaimaa Abdul Aziz,F,19.0,160.0,53.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Doubles,NaN
500,277,Shaimaa Abdul Aziz,F,27.0,160.0,53.0,Egypt,EGY,2008 Summer,2008,Summer,Beijing,Table Tennis,Table Tennis Women's Singles,NaN
775,446,Bode Abiodun,M,35.0,170.0,68.0,Nigeria,NGR,2016 Summer,2016,Summer,Rio de Janeiro,Table Tennis,Table Tennis Men's Team,NaN
1183,663,Sharath Kamal Achanta,M,22.0,186.0,85.0,India,IND,2004 Summer,2004,Summer,Athina,Table Tennis,Table Tennis Men's Singles,NaN

In [52]:
print('Obere und untere Grenze bestimmen')
# ----- Lösung -----

# Bestimmen der oberen und der unteren Grenze
print(df_my_sport['Year'].min(), df_my_sport['Year'].max())

Obere und untere Grenze bestimmen
1988 2016

In [53]:
print('Automatische Grenzen mit Slider')
# ----- Lösung -----

# Die Minimal und Maximal Werte für den Slider können wir uns durch den DataFrame bestimmen lassen
@interact
def year_single(year=(df_my_sport['Year'].min(), df_my_sport['Year'].max())):
    df_filtered = df_my_sport[df_my_sport['Year'] == year]
    return df_filtered.sort_values(['Year'])

Automatische Grenzen mit Slider

interactive(children=(IntSlider(value=2002, description='year', max=2016, min=1988), Output()), _dom_classes=(…

In [54]:
# Sommerspiele
print('Sommerspiele')
# ----- Lösung -----

@interact
def year_single(year=(df_my_sport['Year'].min(), df_my_sport['Year'].max(), 4)):
    df_filtered = df_my_sport[df_my_sport['Year'] == year]
    return df_filtered.sort_values(['Year'])

Sommerspiele

interactive(children=(IntSlider(value=2000, description='year', max=2016, min=1988, step=4), Output()), _dom_c…

In [55]:
# Winterspiele
print('Winterspiele')
# ----- Lösung -----

df_my_sport = df[df['Sport'] == 'Ski Jumping']
@interact
def year_single(year=(df_my_sport['Year'].min(), df_my_sport['Year'].max(), 2)):
    df_filtered = df_my_sport[df_my_sport['Year'] == year]
    return df_filtered.sort_values(['Year'])

Winterspiele

interactive(children=(IntSlider(value=1968, description='year', max=2014, min=1924, step=2), Output()), _dom_c…

## Teilaufgabe 2
Es soll nun möglich sein nur eine Liste alle Athleten und die Anzahl Ihrer Medalien abhänig von einem durch zwei **DatePicker** gewählte Daten zu betrachten. 

*Tipp: Für die Verarbeitung der Daten kann die Lösung aus der vorangegangen Gruppierungs Übung benutzt werden.*

In [56]:
# Keine Medalien ist noch mit NaN ausgedrückt, hier wollen wir einen schöneren Begriff haben.
df_medals = df.fillna('Teilnahme')
df_medals = df_medals.groupby(['ID', 'Name', 'Year', 'Medal']).size()
df_medals = df_medals.unstack()
df_medals = df_medals.fillna(0)
df_medals = df_medals.reset_index()
df_medals.head()

Medal  ID                      Name  Year  Bronze  Gold  Silver  Teilnahme
0       1                 A Dijiang  1992     0.0   0.0     0.0        1.0
1       2                  A Lamusi  2012     0.0   0.0     0.0        1.0
2       3       Gunnar Nielsen Aaby  1920     0.0   0.0     0.0        1.0
3       4      Edgar Lindenau Aabye  1900     0.0   1.0     0.0        0.0
4       5  Christine Jacoba Aaftink  1988     0.0   0.0     0.0        2.0

In [57]:
# Achtung: Year ist eine Zahl und das Ergebnis von pd.to_datetime datetime.
dp_start = widgets.DatePicker(value=pd.to_datetime('1896-01-01'))
dp_end = widgets.DatePicker(value=pd.to_datetime('2019-01-01'))

@interact
def start_end(start_year=dp_start, end_year=dp_end):
    return df_medals[(df_medals['Year'] >= start_year.year) & (df_medals['Year'] <= end_year.year)].sort_values('Year')

interactive(children=(DatePicker(value=Timestamp('1896-01-01 00:00:00'), description='start_year'), DatePicker…

## Teilaufgabe 3
Schreibe ein interative Funktion mit derer Hilfe du nach ihrem Namen suchen kannst um die ID des Athleten zu erhalten.

In [58]:
@interact
def search_athlet(name=''):
    df_reduced = df[['ID', 'Name']].drop_duplicates() # Wir brauchen jeden Athleten nur ein Mal
    return df_reduced[df_reduced['Name'].str.contains(name)]

interactive(children=(Text(value='', description='name'), Output()), _dom_classes=('widget-interact',))

## Teilaufgabe 4
Filter den DataFrame nach Datensätzen einer bestimmten Sportart. Lasse dir hierfür ein Dropdown mit allen Sportarten aus der Spalte Sport generieren.

<font color="red">**Warnung:** Generiere die Liste aller einzigartigen Sportarten und speichere Sie vorher in einer Liste. Solltes du versuchen die ganze Spalte als dropdown zu übergeben kann es sein, dass dein Notebook abstürzt.</font>

In [59]:
# Überprüfen der Sportarten
stypes=df['Sport'].sort_values().unique()
stypes

array(['Aeronautics', 'Alpine Skiing', 'Alpinism', 'Archery',
       'Art Competitions', 'Athletics', 'Badminton', 'Baseball',
       'Basketball', 'Basque Pelota', 'Beach Volleyball', 'Biathlon',
       'Bobsleigh', 'Boxing', 'Canoeing', 'Cricket', 'Croquet',
       'Cross Country Skiing', 'Curling', 'Cycling', 'Diving',
       'Equestrianism', 'Fencing', 'Figure Skating', 'Football',
       'Freestyle Skiing', 'Golf', 'Gymnastics', 'Handball', 'Hockey',
       'Ice Hockey', 'Jeu De Paume', 'Judo', 'Lacrosse', 'Luge',
       'Military Ski Patrol', 'Modern Pentathlon', 'Motorboating',
       'Nordic Combined', 'Polo', 'Racquets', 'Rhythmic Gymnastics',
       'Roque', 'Rowing', 'Rugby', 'Rugby Sevens', 'Sailing', 'Shooting',
       'Short Track Speed Skating', 'Skeleton', 'Ski Jumping',
       'Snowboarding', 'Softball', 'Speed Skating', 'Swimming',
       'Synchronized Swimming', 'Table Tennis', 'Taekwondo', 'Tennis',
       'Trampolining', 'Triathlon', 'Tug-Of-War', 'Volleyball',
       'Water Polo', 'Weightlifting', 'Wrestling'], dtype=object)

In [60]:

# type ist ein reserviertes Wort daher können wir hier nur ein anderes Wort benutzen, z.B. stype 
@interact
def sport_type(stype=stypes):
    return df[df['Sport'] == stype].sort_values('Year')

interactive(children=(Dropdown(description='stype', options=('Aeronautics', 'Alpine Skiing', 'Alpinism', 'Arch…

## Zusatzübung 1:
In der Gruppieren Lektion wurde gezeigt, wie man

In [61]:
df_teilnehmer = df.drop_duplicates(['ID', 'Year'])
df_teilnehmer = df_teilnehmer[df_teilnehmer['Season'] == 'Summer']
df_teilnehmer_mw = df_teilnehmer.groupby(['Year', 'Sex']).size()
df_teilnehmer_mw = df_teilnehmer_mw.unstack()
df_teilnehmer_mw.head()

Sex      F       M
Year
1896   NaN   176.0
1900  23.0  1201.0
1904   6.0   644.0
1906   6.0   835.0
1908  44.0  1980.0

In [62]:
@interact
def teilnehmer_mw(Geschlecht=['F', 'M']):
    return df_teilnehmer_mw[[Geschlecht]].plot()

interactive(children=(Dropdown(description='Geschlecht', options=('F', 'M'), value='F'), Output()), _dom_class…

## Zusatzübung 2:
Probiere weitere Optionen aus indem du dir die Liste der verfügbaren Widgets anschaust. Löse die folgenden Darstellungen mit einem **einzigen Widget**.

Link zu den Widgets: https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html

* Lasse dir nur Athleten anzeigen die eine bestimme Anzahl an Goldmedalien in den Jahren 2000-2016 gewonnen haben. Sorge dafür, das sowohl die Ober- als auch die Untergrenze angepasst werden kann und nur Athleten in der Auswahl erscheinen, die eine Anzahl an Goldmedallien innerhalb dieser Grenzen gewonnen haben.

*Tipp: Schau dir die Funktion* **.between()** *in der offiziellen Pandas Documentation an*

In [91]:
# Vorbereitung des DataFrames
df_medals = df.dropna(subset=['Medal'])
df_medals = df_medals[df_medals['Medal'] == 'Gold']
df_medals = df_medals[df_medals['Year'].between(2000, 2016)]
df_medals = df_medals.groupby(['ID', 'Name']).size().reset_index()
df_medals = df_medals.rename(columns={0:'Count'})
df_medals.head()

   ID                              Name  Count
0  20                Kjetil Andr Aamodt      3
1  21         Ragnhild Margrethe Aamodt      1
2  72  Aleksey Aleksandrovich Abalmasov      1
3  73                         Luc Abalo      2
4  76        Jouan Patrice Abanda Etong      1

In [92]:
widgets.IntRangeSlider(min=df_medals['Count'].min(), max=df_medals['Count'].max())

IntRangeSlider(value=(6, 17), max=23, min=1)

In [90]:
# Grenzen lassen wir uns automatisch berechnen
sw = widgets.IntRangeSlider(min=df_medals['Count'].min(), max=df_medals['Count'].max())

# Das Ergebnis aus sw ist eine Liste mit zwei Elementen. Das erste Element enthält 
# die untere Grenze wohingegen das zweite Element die obere Grenze enthält.

@interact
def medals_count(count=sw):
    return df_medals[df_medals['Count'].between(count[0], count[1])].sort_values('Count', ascending=False)

interactive(children=(IntRangeSlider(value=(6, 17), description='count', max=23, min=1), Output()), _dom_class…