# Übung 06: Nachschlagen und Verweisen

## Generierung von Trainings Datensätzen
Führe den folgenden Abschnitt aus, damit dir die Trainingsdatensätze zur Verfügung stehen.

In [1]:
import pandas as pd

In [2]:
df_A = pd.DataFrame()
df_A['Column A'] = list(range(0,6))
df_A['Data'] = 'A1'
df_A

   Column A Data
0         0   A1
1         1   A1
2         2   A1
3         3   A1
4         4   A1
5         5   A1

In [3]:
df_B = pd.DataFrame()
df_B['Column C'] = list(range(2,7))*2
df_B['Data'] = (['B1']*5+['B2']*5)
df_B

   Column C Data
0         2   B1
1         3   B1
2         4   B1
3         5   B1
4         6   B1
5         2   B2
6         3   B2
7         4   B2
8         5   B2
9         6   B2

## Teilaufgabe 1:
Verbinde die beiden Datensätze aus df_A und df_B auf folgende Weisen:
* Als Schlüssel für den Merge soll der **Index** dienen und nur Elemente die in beiden DataFrames vorkommen.
* Benutze die Spalte **'Column A'** aus df_A und die Spalte **'Column C'** aus df_B um eine Verbindung zwischen den Datensätzen herzustellen. Überlege dir warum jeder Übereinstimmende Wert in Spalte 'Column A' oder 'Column C' zweimal vorkommt. Es sollen wieder nur Elemente vorkommen die in beiden DataFrames exisitieren.
* Verbinde die beiden DataFrames so, dass **alle Elemente aus df_A** erhalten bleiben auch wenn es keine zu verknüpfenden Elemente in df_B gibt.
* Ersetze die entstehende Suffixe **'\_x' und '\_y'** sinnvoll durch A und B

**Merge mit Index**

**Merge mit Spalte A und C**

**Merge mit allen Elementen aus df_A**

**Suffixe ändern**

## Teilaufgabe 2:
Nun wollen wir uns ma mit einem echten Datensatz anschauen, wie das erweitern funktioniert. Das folgende Datenset enthält alle Teilnehmer der Olympischen Spiele seit 1980. 


### Aufgabe
Füge die drei Tabellen so zusammen, dass du am Schluss eine einzige Tabelle erhälst in der Alle Details vorhanden sind.


### Dateien
Für Teilaufgabe 2 müssen wir drei Dateien aus dem folgenden Ordner importieren:

**src\bigdata\120-years-of-olympic-history-athletes-and-results**

* <font color='orange'>events.csv</font>
* <font color='orange'>athlets.csv</font>
* <font color='orange'>year_season_city.csv</font>

<hr>

## Zusatzübung 1:
Wir möchten das der Name der Athleten in Vorname und Nachname aufgeteilt wird.

## Zusatzübung 2:
Manachmal steht man vor dem Problem, das man gerne aufgrundlage eines Zeitstempels Daten mitteinandere verknüpfen will. Die Problematik hierbei ist, das wir meist mehrer Zeitstempel haben die einer festen Zeit zugewiesen werden könnten.

**Tabelle A:**
    
| ValueA | TimesA |
|--------|------- |
| A      | 16:00  |


**Tabelle B:**

| ValueA | TimesA |
|-------|-------|
| W     | 15:42 | 
| X     | 15:53 |
| Y     | 16:04 |
| Z     | 16:12 |


**Ergebnis:** 

| ValueA | TimesA | ValueB | TimesB |
|--------|--------|--------|--------|
| W      | 16:00  |Y       | 16:04  |

<hr>

### Aufgabe

In der folgenden Aufgabe wollen wir die Preise einer Cryptowährung auf die Börsen Öffnungs- und Schlusszeiten der Frankfurter Börse mappen.

**Auszug aus dem Ergebnis:**

Date|Time|Location|timestamp|close|high|volume|open|low
---|---|---|---|---|---|---|---|---
2019-06-17 08:00:00|8|FRA|2019-06-17 08:05:39|241.6300048828125|241.72000122070312|240989.0|240.8000030517578|240.75
2019-06-17 22:00:00|22|FRA|2019-06-17 22:02:05|244.05999755859372|244.2700042724609|115902.0|243.33999633789062|243.33999633789062

### Dateien

Hierfür müssen zunächst die folgenden drei Dateien importiert werden: 

* <font color='orange'>ethereum.csv</font>
* <font color='orange'>FRA_days.csv</font>
* <font color='orange'>FRA_opening_hours.csv</font>

<hr>

**Tipp**: Um das Datum und die Zeit zusammenzuführen benutze die folgende Formel

``df['Date'] + df['Time'].apply(lambda x: pd.DateOffset(hours=x))``

Aus einem String kannst du mit folgender Formel ein Datetime Object machen

``df_stock['timestamp'] = pd.to_datetime(df_stock['timestamp'])``

Wie du aufgrund von **Zeitstempeln** Datensätze zusammenführen kannst, findest du in der Dokumentation unter:<br> 
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#timeseries-friendly-merging

<hr>

## Zusatzaufgabe 3:
Bilden Sie eine neue Spalte die den Mittelwert aus der Open Close Zeilenweise für jeden Datensatz bestimmt.<br> Benutzen Sie hierfür die Funktion **.mean()** eines DataFrames.