In [27]:
import pandas as pd
import numpy as np

In [28]:
df_pokemon = pd.read_csv('../src/pokemon.csv')
df_pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# WENN

In [29]:
# hp > 1000
df_pokemon[df_pokemon['HP'] > 100].head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
8,CharizardMega Charizard Y,Fire,Flying,634,101,104,78,159,115,100,1,False
44,Jigglypuff,Normal,Fairy,270,115,45,20,45,25,20,1,False
45,Wigglytuff,Normal,Fairy,435,140,70,45,85,50,45,1,False
96,Muk,Poison,NaN,500,105,105,75,65,100,50,1,False
120,Rhydon,Ground,Rock,485,105,130,120,45,45,40,1,False
121,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
123,Kangaskhan,Normal,NaN,490,105,95,80,40,80,90,1,False
124,KangaskhanMega Kangaskhan,Normal,NaN,590,105,125,100,60,100,100,1,False
142,Lapras,Water,Ice,535,130,85,80,85,95,60,1,False
145,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False

In [30]:
df_pokemon['Description'] = np.where(df_pokemon['HP'] > 100, 'Super Strong', '')
df_pokemon.head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Description
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,
8,CharizardMega Charizard Y,Fire,Flying,634,101,104,78,159,115,100,1,False,Super Strong
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,

In [31]:
df_pokemon['Description2'] = np.where((df_pokemon['HP'] > 100) & (df_pokemon['Attack'] > 100), 'Super Strong', '')
df_pokemon.head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Description,Description2
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,,
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,,
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,,
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,,
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,,
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,,
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,,
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,,
8,CharizardMega Charizard Y,Fire,Flying,634,101,104,78,159,115,100,1,False,Super Strong,Super Strong
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,,

# Mathematische Funktionen (Zusammenfassend)

* Anzahl
* Summe
* Mittelwert
* Median
* Min
* Max

In [32]:
len(df_pokemon)

800

In [33]:
df_pokemon['Total'].sum()

348082

In [34]:
df_pokemon['Total'].sum() / len(df_pokemon)

435.1025

In [35]:
df_pokemon['Total'].mean()

435.1025

In [36]:
df_pokemon['Total'].median()

450.0

In [37]:
df_pokemon['Total'].min()

180

In [38]:
df_pokemon['Total'].max()

780

## Zusammen aller Spalten

In [39]:
# Zusammenfassen aller Spalten -> Ergebnis ist eine Serie
df_pokemon.max()

Name            Zygarde50% Forme
Type 1                     Water
Total                        780
HP                           255
Attack                       190
Defense                      230
Sp. Atk                      194
Sp. Def                      230
Speed                        180
Generation                     6
Legendary                   True
Description         Super Strong
Description2        Super Strong
dtype: object

# In Kombination mit WENN

In [40]:
# Summe vom Wert "Total", wenn vom Typ Grass
df_pokemon[df_pokemon['Type 1'] == 'Grass'].head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Description,Description2
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,,
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,,
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,,
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,,
48,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False,,

In [41]:
df_pokemon[df_pokemon['Type 1'] == 'Grass'].sum()

Name            BulbasaurIvysaurVenusaurVenusaurMega VenusaurO...
Type 1          GrassGrassGrassGrassGrassGrassGrassGrassGrassG...
Total                                                       29480
HP                                                           4709
Attack                                                       5125
Defense                                                      4956
Sp. Atk                                                      5425
Sp. Def                                                      4930
Speed                                                        4335
Generation                                                    235
Legendary                                                       3
Description                              Super StrongSuper Strong
Description2
dtype: object

In [42]:
df_pokemon[df_pokemon['Type 1'] == 'Grass']['Total'].sum()

29480

In [43]:
df_pokemon[(df_pokemon['Type 1'] == 'Grass') & (df_pokemon['Type 2'] == 'Poison')]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Description,Description2
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,,
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,,
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,,
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,,
48,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False,,
49,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False,,
50,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False,,
75,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False,,
76,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,1,False,,
77,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False,,
344,Roselia,Grass,Poison,400,50,60,45,100,80,65,3,False,,
451,Budew,Grass,Poison,280,40,30,35,50,70,55,4,False,,
452,Roserade,Grass,Poison,515,60,70,65,125,105,90,4,False,,
651,Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False,,
652,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False,Super Strong,

In [44]:
df_pokemon[(df_pokemon['Type 1'] == 'Grass') & (df_pokemon['Type 2'] == 'Poison')]['Total'].sum()

6211

# Kombinieren von Spaltenwerten

## Zahlen

In [45]:
df_pokemon['HP'] + df_pokemon['Attack']

0       94
1      122
2      162
3      180
4       91
5      122
6      162
7      208
8      205
9       92
10     122
11     162
12     182
13      75
14      70
15     105
16      75
17      70
18     155
19     215
20      85
21     123
22     163
23     163
24      86
25     136
26     100
27     155
28      95
29     145
      ...
770    160
771    170
772    125
773    100
774     95
775    143
776    190
777    137
778    113
779    195
780    115
781    110
782    120
783    125
784    155
785    140
786    170
787    185
788    124
789    212
790     70
791    155
792    257
793    257
794    208
795    150
796    210
797    190
798    240
799    190
Length: 800, dtype: int64

In [46]:
df_pokemon['Total 2'] = df_pokemon['HP'] + df_pokemon['Attack']
df_pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Description,Description2,Total 2
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,,,94
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,,,122
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,,,162
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,,,180
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,,,91
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,,,122
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,,,162
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,,,208
8,CharizardMega Charizard Y,Fire,Flying,634,101,104,78,159,115,100,1,False,Super Strong,Super Strong,205
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,,,92
10,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,,,122
11,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,,,162
12,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,,,182
13,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,,,75
14,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,,,70
15,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False,,,105
16,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,,,75
17,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,,,70
18,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False,,,155
19,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,,,215
20,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False,,,85
21,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False,,,123
22,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False,,,163
23,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False,,,163
24,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False,,,86
25,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False,,,136
26,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False,,,100
27,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False,,,155
28,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False,,,95
29,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False,,,145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,Sylveon,Fairy,NaN,525,95,65,65,110,130,60,6,False,,,160
771,Hawlucha,Fighting,Flying,500,78,92,75,74,63,118,6,False,,,170
772,Dedenne,Electric,Fairy,431,67,58,57,81,67,101,6,False,,,125
773,Carbink,Rock,Fairy,500,50,50,150,50,150,50,6,False,,,100
774,Goomy,Dragon,NaN,300,45,50,35,55,75,40,6,False,,,95
775,Sliggoo,Dragon,NaN,452,68,75,53,83,113,60,6,False,,,143
776,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,False,,,190
777,Klefki,Steel,Fairy,470,57,80,91,80,87,75,6,False,,,137
778,Phantump,Ghost,Grass,309,43,70,48,50,60,38,6,False,,,113
779,Trevenant,Ghost,Grass,474,85,110,76,65,82,56,6,False,,,195
780,PumpkabooAverage Size,Ghost,Grass,335,49,66,70,44,55,51,6,False,,,115
781,PumpkabooSmall Size,Ghost,Grass,335,44,66,70,44,55,56,6,False,,,110
782,PumpkabooLarge Size,Ghost,Grass,335,54,66,70,44,55,46,6,False,,,120
783,PumpkabooSuper Size,Ghost,Grass,335,59,66,70,44,55,41,6,False,,,125
784,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False,,,155
785,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False,,,140
786,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False,,,170
787,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False,,,185
788,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False,,,124
789,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False,,,212
790,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False,,,70
791,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False,,,155
792,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True,Super Strong,Super Strong,257
793,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True,Super Strong,Super Strong,257
794,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True,Super Strong,,208
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,,,150
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,,,210
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,,,190
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,,,240
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,,,190

# Runden

In [47]:
(df_pokemon['Total 2']/df_pokemon['Total']).head(10)

0    0.295597
1    0.301235
2    0.308571
3    0.288000
4    0.294498
5    0.301235
6    0.303371
7    0.328076
8    0.323344
9    0.292994
dtype: float64

In [48]:
# Wir schreiben das obige Beispiel um und speichern die Ergebnisse in einer neuen Spalte
df_pokemon['Anteil T2'] = df_pokemon['Total 2']/df_pokemon['Total']
df_pokemon['Anteil T2'].head(10)

0    0.295597
1    0.301235
2    0.308571
3    0.288000
4    0.294498
5    0.301235
6    0.303371
7    0.328076
8    0.323344
9    0.292994
Name: Anteil T2, dtype: float64

In [49]:
df_pokemon['Anteil T2'] = df_pokemon['Total 2']/df_pokemon['Total']
df_pokemon['Anteil T2'].round(2).head(10)

0    0.30
1    0.30
2    0.31
3    0.29
4    0.29
5    0.30
6    0.30
7    0.33
8    0.32
9    0.29
Name: Anteil T2, dtype: float64

In [50]:
df_pokemon['Anteil T2'] = df_pokemon['Total 2']/df_pokemon['Total']
df_pokemon['Anteil T2'] = df_pokemon['Anteil T2'].round(2)
df_pokemon.head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Description,Description2,Total 2,Anteil T2
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,,,94,0.30
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,,,122,0.30
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,,,162,0.31
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,,,180,0.29
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,,,91,0.29
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,,,122,0.30
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,,,162,0.30
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,,,208,0.33
8,CharizardMega Charizard Y,Fire,Flying,634,101,104,78,159,115,100,1,False,Super Strong,Super Strong,205,0.32
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,,,92,0.29