In [1]:
import pandas as pd

In [21]:
df_A = pd.DataFrame(list(range(0,5)), columns=['A'])
df_A = df_A.set_index('A')
df_A['Data'] = 'A'
df_A

  Data
A
0    A
1    A
2    A
3    A
4    A

In [22]:
df_B = pd.DataFrame(list(range(3,8)), columns=['B'])
df_B = df_B.set_index('B')
df_B['Data'] = 'B'
df_B

  Data
B
3    B
4    B
5    B
6    B
7    B

In [24]:
pd.merge(df_A, df_B, how='inner', left_index=True, right_index=True)

  Data_x Data_y
3      A      B
4      A      B

In [25]:
pd.merge(df_A, df_B, how='outer', left_index=True, right_index=True)

  Data_x Data_y
0      A    NaN
1      A    NaN
2      A    NaN
3      A      B
4      A      B
5    NaN      B
6    NaN      B
7    NaN      B

In [26]:
pd.merge(df_A, df_B, how='left', left_index=True, right_index=True)

  Data_x Data_y
A
0      A    NaN
1      A    NaN
2      A    NaN
3      A      B
4      A      B

In [27]:
pd.merge(df_A, df_B, how='right', left_index=True, right_index=True)

  Data_x Data_y
B
3      A      B
4      A      B
5    NaN      B
6    NaN      B
7    NaN      B