# 06-Was ist Merging?
Unter Merging versteht man das Zusammenführen von zwei Datensätzen. Als Referenz dienen hierbei entweder die Indices der zu vereinenden DataFrames oder aber eine Kombination von ein oder mehrerer Spalten. Diese Technik wird häufig gebraucht, da Daten aus unterschiedlichen Datenquellen oder zum Beispiel aus einer tabellarischen Datenbank kommen.

# Erzeugen der beiden zu vereinenden Dataframes
Im folgenden Kapitel wollen wir uns anschauen, wie wir Daten aus zwei verschiedenen Datensätzen zusammenführen können. Dies gehört zu einer der wichtigsten Tasks, wenn man mit tabellarischen Daten arbeitet.

In [51]:
import pandas as pd

In [52]:
# Erzeugen eines ersten Dataframes 
df_A = pd.DataFrame(list(range(0,5)), columns=['A'])
df_A = df_A.set_index('A')
df_A['Data'] = 'A'
df_A

  Data
A
0    A
1    A
2    A
3    A
4    A

In [53]:
# Erzeugen eines zweiten Dataframes 
df_B = pd.DataFrame(list(range(3,8)), columns=['B'])
df_B = df_B.set_index('B')
df_B['Data'] = 'B'
df_B

  Data
B
3    B
4    B
5    B
6    B
7    B

# Verweisen auf Grundlage der Indize
Wir wollen uns dazu die 4 verschiedenen Verknüpfungsarten anschauen:
* inner
* outer
* left
* right

## Der Inner-Join
Inner Join bedeutet das Ergebnis beinhaltet nur Daten, die verknüpft werden können und deren Bezug in beiden Dataframes vorkommt.

In [54]:
# Joinen/Mergen die Dataframes aufgrund ihrer Indize, das Ergebnis enthält nur die Schnittmenge der beiden Dataframes
pd.merge(df_A, df_B, how='inner', left_index=True, right_index=True)

  Data_x Data_y
3      A      B
4      A      B

## Der Outer-Join
Outer Join bedeutet das Ergebnis beinhaltet alle Daten unabhängig davon ob diese verknüpft werden können oder nicht. Fehlende Daten werden mit NaN aufgefüllt.

In [55]:
pd.merge(df_A, df_B, how='outer', left_index=True, right_index=True)

  Data_x Data_y
0      A    NaN
1      A    NaN
2      A    NaN
3      A      B
4      A      B
5    NaN      B
6    NaN      B
7    NaN      B

WIr können uns außerdem anzeigen lassen, auf welche Art die Datensätze verknüpft wurden. Dafür setzen wir den Parameter <font color='green'>indicator=True</font>

In [56]:
pd.merge(df_A, df_B, how='outer', left_index=True, right_index=True, indicator=True)

  Data_x Data_y      _merge
0      A    NaN   left_only
1      A    NaN   left_only
2      A    NaN   left_only
3      A      B        both
4      A      B        both
5    NaN      B  right_only
6    NaN      B  right_only
7    NaN      B  right_only

## Left und Right Join
Enthält alle Elemente des linken(left-join) oder rechten (right-join) Dataframe, unabhänig ob Daten verknüpft worden sind oder nicht.

In [57]:
pd.merge(df_A, df_B, how='left', left_index=True, right_index=True)

  Data_x Data_y
A
0      A    NaN
1      A    NaN
2      A    NaN
3      A      B
4      A      B

In [58]:
pd.merge(df_A, df_B, how='right', left_index=True, right_index=True)

  Data_x Data_y
B
3      A      B
4      A      B
5    NaN      B
6    NaN      B
7    NaN      B

## Anpassungsmöglichkeiten
Enthalten beide Dataframes Spalten mit dem gleichen Namen, so kennzeichnet diese Pandas mit den Suffixen '_x' und '_y'. Da da meisten wenig aussagekräftig ist, können wir auch dieses Verhalten ändern.

In [59]:
pd.merge(df_A, df_B, how='outer', left_index=True, 
         right_index=True, suffixes=('_A', '_B'))

  Data_A Data_B
0      A    NaN
1      A    NaN
2      A    NaN
3      A      B
4      A      B
5    NaN      B
6    NaN      B
7    NaN      B

# Verweisen auf Grundlage von einer oder mehrerer Spalte(n)
Wir können Daten nicht nur auf der Grundlage der Indizes verknüpfen sondern auch über die eine oder mehrere Spalten.

In [60]:
# DataFrame Generierung
df_A = df_A.reset_index().rename(columns={'A':'Column'})
df_A

   Column Data
0       0    A
1       1    A
2       2    A
3       3    A
4       4    A

In [61]:
# DataFrame Generierung
df_B = df_B.reset_index().rename(columns={'B':'Column'})
df_B

   Column Data
0       3    B
1       4    B
2       5    B
3       6    B
4       7    B

In [62]:
# Eine Spalte als Referenz, die in beiden DataFrames existiert
pd.merge(df_A, df_B, how='left', on=['Column'])

   Column Data_x Data_y
0       0      A    NaN
1       1      A    NaN
2       2      A    NaN
3       3      A      B
4       4      A      B

In [63]:
# Erzeugen eines ersten Dataframes 
df_A = pd.DataFrame()
df_A['Column A'] = list(range(0,5))*2
df_A['Column B'] = (['X']*5+['Y']*5)
df_A['Data'] = pd.Series(list(range(0,10))).astype('str') + 'A'
df_A

   Column A Column B Data
0         0        X   0A
1         1        X   1A
2         2        X   2A
3         3        X   3A
4         4        X   4A
5         0        Y   5A
6         1        Y   6A
7         2        Y   7A
8         3        Y   8A
9         4        Y   9A

In [64]:
# Erzeugen eines zweiten Dataframes 
df_B = pd.DataFrame()
df_B['Column C'] = list(range(0,5))*2
df_B['Column D'] = (['Y']*5+['Z']*5)
df_B['Data'] = pd.Series(list(range(0,10))).astype('str') + 'B'
df_B

   Column C Column D Data
0         0        Y   0B
1         1        Y   1B
2         2        Y   2B
3         3        Y   3B
4         4        Y   4B
5         0        Z   5B
6         1        Z   6B
7         2        Z   7B
8         3        Z   8B
9         4        Z   9B

In [65]:
''' ir möchten die Daten in DataFrame A ergänzen mit den Daten aus DataFrame B 
soweit dort Daten zugeordnet werden können.'''

pd.merge(df_A, df_B, how='left', 
         left_on=['Column A', 'Column B'], 
         right_on=['Column C', 'Column D'])

   Column A Column B Data_x  Column C Column D Data_y
0         0        X     0A       NaN      NaN    NaN
1         1        X     1A       NaN      NaN    NaN
2         2        X     2A       NaN      NaN    NaN
3         3        X     3A       NaN      NaN    NaN
4         4        X     4A       NaN      NaN    NaN
5         0        Y     5A       0.0        Y     0B
6         1        Y     6A       1.0        Y     1B
7         2        Y     7A       2.0        Y     2B
8         3        Y     8A       3.0        Y     3B
9         4        Y     9A       4.0        Y     4B

# Achtung: Doppelte Keys beim Verknüpfen!
Werte Paare/oder einzelne Werte über die wir verknüpfen sollten immer einzigartig sein, es seiden es ist explizit gewollt. Hierzu zwei Beispiele:

In [66]:
# Erzeugen eines ersten Dataframes 
df_A = pd.DataFrame()
df_A['Column A'] = list(range(0,5))
df_A['Data'] = 'A'
df_A

   Column A Data
0         0    A
1         1    A
2         2    A
3         3    A
4         4    A

In [67]:
# Erzeugen eines zweiten Dataframes 
df_B = pd.DataFrame()
df_B['Column B'] = list(range(0,5))*2
df_B['Data'] = 'B'
df_B

   Column B Data
0         0    B
1         1    B
2         2    B
3         3    B
4         4    B
5         0    B
6         1    B
7         2    B
8         3    B
9         4    B

In [68]:
# Das Ergebnis ist doppelt so lange wie der DataFrame A vor dem merge
df_merged = pd.merge(df_A, df_B, how='left', left_on=['Column A'], right_on=['Column B'])
df_merged

   Column A Data_x  Column B Data_y
0         0      A         0      B
1         0      A         0      B
2         1      A         1      B
3         1      A         1      B
4         2      A         2      B
5         2      A         2      B
6         3      A         3      B
7         3      A         3      B
8         4      A         4      B
9         4      A         4      B

In [69]:
len(df_merged)

10

## In-Deep Tutorial
Weitere Möglichkeiten der Verknüpfung von Daten mit merge und wie du das Verhalten anpassen finden sich gut erklärt in diesem Tutorial aus der offiziellen Dokumentation:

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#database-style-dataframe-or-named-series-joining-merging

## Daten Zusammenführen in Excel
Um Daten ähnlich wie mit **pd.merge()** zusammenzuführen, schau dir doch mal PowerQuery an. Mit diesem Tool sind ähnliche Prozesse möglich.